* {
    box-sizing: border-box ;
   
    
    
}
body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    
 /* overflow-x: hidden; */
}
p{
    
    color: black;
    line-height: 28px;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: left;
   
    
}
.row{
    width: 100%;
}
h1{
    color: black;
    font-size: 80px;
    text-align: center;
}
.tags{
    
    float: right;
    border: 1px solid black;
    padding: 10px;
    width: 160px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background-color: cyan;
    margin-top: -22px;
    margin-right: -22px;
    
    
    
   
}
#chicken{
    background-color:deeppink;
}
#beef{
    background-color:dodgerblue;
}

#sushi{
    background-color:chartreuse;
}
@media (min-width:992px)   {
    .col-lg-4{
        position: relative;
        float: left;
        border: 2px solid black;
        padding: 20px;
        width: 30%;
        margin-left: 2.5%;
        background-color: coral;
        text-align: center;
        margin-bottom: 2.5%;
    }
    p{
        clear: right;
        padding-top: 20px;
    }
    
    
}
@media (min-width:768px) and (max-width:991px)   {
    .col-md-6{
        position: relative;
        float: left;
        border: 2px solid black;
        padding: 20px;
        width: 46%;
        margin-left: 2.5%;
        background-color: coral;
        text-align: center;
        margin-bottom: 2.5%;
        
        
    }
    .col-md-12{
        position: relative;
        float: left;
        border: 2px solid black;
        padding: 20px;
        width: 95%;
        margin-left: 2.5%;
        background-color: coral;
        text-align: center;
        margin-bottom: 2.5%;
        
        
    }
   
    p{
        clear: right;
        padding-top: 20px;
    }
   
    
    
  
    
}


@media (max-width:767px)   {
    .col-sm-12{
        position: relative;
        float: left;
        border: 2px solid black;
        padding: 20px;
        width: 95%;
        margin-left: 2.5%;
        background-color: coral;
        text-align: center;
        margin-bottom: 50px;
        
    }
    p{
        clear: right;
        padding-top: 20px;
    }
    
    
}